<template>
  <div>
    <div class="main">
      <div style="color:#ffffff;font-size: 35px;font-weight:bold;margin-left: 15%;margin-right: 15%">{{ title }}</div>
      <div style="color:#ffffff;margin: 60px 260px;">{{ vote_description }}</div>
      <div class="tablehead">
        <p>name</p>
        <p>ranking</p>
        <p>total votes</p>
      </div>
      <div class="tablebody">
        <Item v-for="(item,index) in votes"
              :key="'vote_list_tmp_'+index"
              :name="item.name"
              :sort="item.sort"
              :voteCount="item.votes"
              :candidateId="item.id"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Item from '../../component/Item.vue'
import {getVoteInfo, getCandidateList} from "../../api/vote";

export default {
  name: 'Banner',
  components: {
    Item
  },
  data() {
    return {
      votes: [],
      vote_description: '',
      title: ''
    }
  },
  mounted() {
    this.showVoteInfo(1)
  },
  methods: {
    async showVoteInfo(voteId) {
      try {
        let vote_info = await getVoteInfo(voteId);
        let candidate_list = await getCandidateList(voteId);
        // console.log('list'+JSON.stringify(candidate_list))
        this.vote_description = vote_info.data.results[0].description;
        this.title = vote_info.data.results[0].title;
        for (let i = 0; i < candidate_list.data.length; i++) {
          let item = candidate_list.data[i];
          this.votes.push({id: item.id, name: item.name, votes: item.votes, sort: (i+1)})
        }
      } catch (err) {
        // console.error(err);
        this.$vToastify.error('failed', err);
      }
    }
  }
}

</script>
<style>
body {
  background: #191919 !important;
}

a {
  text-decoration: none;
}

.main {
  max-width: 1800px;
  margin: 100px auto;
}

.tablehead {
  background: #1F1F1F;
  color: #fff;
  overflow: hidden;
  border-radius: 5px;
}

.tablehead p {
  width: 30%;
  float: left;
  text-align: center;
  margin: 0;
  padding: 11px 0; /* border-radius: 15px; */
}

.tablebody {

}


</style>
