<template>
  <div>
    <div class="main">
      <div class="detail">
        <div class="detailtop">
          <h2>
            {{ name }}
          </h2>
          <p>
            {{ detail }}
          </p>
        </div>
        <div class="detailbot">
          <p class="detalimg">
            <img :src="imgSrc"/>
            <!--            <img src="../../assets/2.png"/>-->
          </p>
          <p>
            {{ detailExpand }}
          </p>
          <p>
            <button class="toupiao" @click="addVote" :disabled="buttonStatus" :style="toupiao">
              vote
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {getCandidateDetail, addVote} from "../../api/vote";

export default {
  data() {
    return {
      candidateId: -1,
      name: '',
      detail: '',
      detailExpand: '',
      imgSrc: '#',
      buttonStatus: false,
      buttonHover: 'pointer'
    }
  },
  computed: {
    toupiao() {
      return {
        '--cursor': this.buttonHover
      }
    }
  },
  mounted() {
    if (!this.$route.query.candidateId) {
      this.$router.push('/list');
    }
    this.getDetail(this.$route.query.candidateId);

  },
  methods: {
    async getDetail(detailId) {
      let detail = await getCandidateDetail(detailId);
      if (!detail.data.results[0]) {
        return;
      }
      this.candidateId = detailId;
      // console.log(detail)
      this.imgSrc = detail.data.results[0].photo;
      this.name = detail.data.results[0].name;
      this.detail = detail.data.results[0].description;
    },
    async addVote() {
      this.$vToastify.loader("Please Wait...");
      if (this.candidateId === -1) {
        return;
      }
      let r = await addVote(this.candidateId);
      this.buttonStatus = true;
      this.buttonHover = 'not-allowed';
      if (r.code === 0) {
        this.$vToastify.success({title: 'vote', body: 'successful vote', duration: 1500});
      } else {
        this.$vToastify.error('failed', r.data);
      }
      this.$vToastify.stopLoader();
    }
  }
}
</script>

<style>
body {
  background: #191919 !important;
}

a {
  text-decoration: none;
}

.main {
  max-width: 1200px;
  margin: 100px auto;
}

.con {
  overflow: hidden;
}

.detail {

}

.detailtop {
  background: #000;
  border-radius: 20px;
  overflow: hidden;
  color: #fff
}

.detailtop h2 {
  text-align: center;
  margin: 20px;
}

.detailtop p {
  padding: 50px 50px;
}

.detailbot {
  background: #000;
  border-radius: 21px;
  padding: 10px;
  margin-top: 30px;
  color: #fff
}

.detalimg {
  text-align: center;
}

.detalimg img {
  width: auto;
}

.detailbot p {
  line-height: 27px;
}

.toupiao {
  display: block;
  width: 200px;
  background: #4C379E;
  height: 40px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 20px;
  margin: 20px auto;
}

.toupiao:hover {
  cursor: var(--cursor);
}
</style>
