<template>
  <div>
<div class="main">
    <div class="con">
        <div class="left">
            <h2>Welcome Log in GEX.IO
            </h2>
            <p class="label">Account
            </p>
            <input type="text" class="input-main">
            <p class="label">Password
            </p>
            <input type="text" class="input-main">
            <div class="mt20">
                <a class="register-button curPer" href="https://www.jmge-gexio.com/app/#/components/login">Log in</a>
                <div class="have-account">
                    <a href="https://www.jmge-gexio.com/app/#/forgetPwd" class="baseColor" style="cursor: pointer;">Forget the password </a>
                </div>
            </div>
        </div>
        <div class="right-tip ">
            <p>Not registered yet?</p>
            <p>Register immediately and start trading on the world's leading digital asset trading platform</p>
            <a href="https://www.jmge-gexio.com/app/#/components/register" class="">
                <p class="baseColor mt20">Sign up</p>
            </a>
        </div>
    </div>
</div>
  </div>
</template>

<script>

</script>

     <style>
        body {
            background: #191919 !important;
        }
        a{
            text-decoration: none;
        }

        .main {
            max-width: 1200px;
            margin: 100px auto;
        }

        .con {
            overflow: hidden;
        }

        .left {
            width: 50%;
            float: left;
        }

        .left h2 {
            font-size: 36px;
            color: #c7cce6;
        }

        .label {
            display: block;
            height: 22px;
            color: #61688a;
            font-size: 12px;
        }

        .input-main {
            width: 520px;
            min-height: 46px;
            border: 1px solid #4e5b85;
            padding: 0 20px;
            color: #c7cce6;
            font-size: 14px;
            border-radius: 3px;
            background-color: #191919;
        }

        .register-button {
            width: 200px;
            display: inline-block;
            line-height: 46px;
            background-color: #1da2b4;
            border-radius: 4px;
            color: #fff;
			text-align:center;
            border: none;
        }

        .have-account {
            font-size: 14px;
            display: inline-block;
            margin-left: 30px;
        }

        .baseColor {
            color: #00a4d8;
        }

        .right-tip {
            margin-top: 70px;
            line-height: 24px;
            padding-right: 50px;
            margin-top: 124px;
            font-size: 14px;
            color: #61688a;
            float: right;
            width: 44%;
        }

        .mt20 {
            margin-top: 20px;
        }
    </style>
