<template>
  <div>
    <Header/>
    <router-view/>
  </div>
</template>
<script>
import Header from '../component/Header.vue'
export default {
  components:{
    Header
  },
  mounted() {
    this.$router.push('/list')
  }
}
</script>
<style>

</style>
