<template>
  <div class="header">
    <div class="logo">
      <a href="/#/login">
        <img src="../assets/logo.8c381a99.png" style="width:134px;position:relative;top:7px"/>
      </a>
    </div>
    <div class="nav">
<!--      <a href="/#/login" class="login login_text">Log in</a>-->
      <a href="https://www.jmge-gexio.com/app/#/components/register" class="sign login_text">Sign up</a>
    </div>
  </div>
</template>
<script>
export default {
  name:'Header',
}
</script>
<style>
.header {
  display: flex;
  justify-content: space-between;
  line-height: 64px;
  height: 64px;
  width: 100%;
  min-width: 1200px;
  padding: 0;
  background: #191919;
  border-bottom: 1px solid #303b4b;
}

.nav a {
  font-size: 12px;
  margin: 0 10px;
  color: #c7cce6;
}
</style>
