<template>
  <div>
    <a class="list" @click="to_detail">
      <p>{{ name }}</p>
      <p>{{ sort }}</p>
      <p>{{ voteCount }}</p>
    </a>
  </div>
</template>
<script>

export default {
  name: 'Item',
  props: {
    name: {
      type: String
    },
    sort: {
      type: Number
    },
    voteCount: {
      type: Number
    },
    candidateId: {
      type: Number
    }
  },
  methods: {
    to_detail() {
      this.$router.push({path: '/detail', query: {candidateId: this.candidateId}})
    }
  }
}
</script>
<style>
.list {
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.list P {
  float: left;
  width: 30%;
  text-align: center;
  color: #fff;
}

.list:hover {
  background: #000;
  cursor: pointer;
}
</style>
